<footer id="footer" class="footer">
  <div class="container footer-container">
    <a class="footer-logo" href="./index.html">Handmade Jewelry</a>
    <ul class="social-list">
      <li>
        <a class="social-link" href="https://www.facebook.com/">Facebook</a>
      </li>
      <li>
        <a class="social-link" href="https://www.instagram.com/">Instagram</a>
      </li>
      <li>
        <a class="social-link" href="https://x.com/">X</a>
      </li>
      <li>
        <a class="social-link" href="https://www.linkedin.com/">LinkedIn</a>
      </li>
      <li>
        <a class="social-link" href="https://www.youtube.com/">YouTube</a>
      </li>
    </ul>
    <nav class="footer-nav">
      <ul class="footer-list">
        <li>
          <a class="footer-link" href="#about">About us</a>
        </li>
        <li>
          <a class="footer-link" href="#benefits">Benefits</a>
        </li>
        <li>
          <a class="footer-link" href="#gallery">Gallery</a>
        </li>
        <li>
          <a class="footer-link" href="#testimonials">Testimonials</a>
        </li>
        <li>
          <a class="footer-link" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <p class="footer-copy">© 2025 Handmade Jewelry. All rights reserved.</p>
  </div>
</footer>
