:root {
  --font-main: 'Mulish', sans-serif;
  --font-accent: 'Sora', sans-serif;

  --color-white: #FFFFFF;
  --color-light-gray: #F2F2F2;
  --color-dark: #000000;
  --color-accent: #CCC16E;

  --transition-default: 300ms cubic-bezier(0.4, 0, 0.2, 1); /*поки значення стандартні*/

  font-family: var(--font-main);
  color: var(--color-dark);
  background-color: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

/*далі буде*/



