.contacts {
  padding-block: 64px;
  padding-inline: 20px;
  background: #fff;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
  outline: 2px solid red;
}

.contacts-header {
   width: 100%;
    margin: 0 auto;
  margin-bottom: 48px;
}
.contacts-label-wrapper {
     max-width: 335px;
  margin: 0 auto;
   margin-bottom: 16px;
}
.contacts-label {
 width: 62px;
 font-family: "Mulish", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #000;
margin-bottom: 16px;
}
.contacts-title-wrapper {
    max-width: 335px;
  margin: 0 auto;
}
.contacts-title {
  font-family: "Sora", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #000;
/*width: 335px;*/
margin-bottom: 24px;
}
.contacts-text {
  font-family: "Mulish", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #000;
}
.contacts-content {
  /* display: flex;
  flex-direction: column;*/
}
.contacts-info {
   margin-bottom: 32px;
   
}
.contacts-list {
   display: flex;
  flex-direction: column; 
   
  gap: 24px;

  list-style: none;
  margin: 0;
  padding: 0;
   
}
.contacts-item {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 16px;
  
}
.contacts-icon {
   flex-shrink: 0;
   
}

.contacts-item-content {
  display: flex;
  flex-direction: column;  
  gap: 8px;  
}
.contacts-subtitle { 
 font-family: "Sora", sans-serif;
font-weight: 400;
font-size: 20px;
text-align: left;

line-height: 1.4;
letter-spacing: -0.01em;
color: #000;
margin: 0;
}
.contacts-link {
  font-family: "Mulish", sans-serif;
font-weight: 400;
font-size: 16px;

line-height: 1.5;
color: #000;
margin: 0;
text-decoration: underline;

}

.contacts-link:hover,
.contacts-link:focus {

text-decoration: underline;
text-decoration-skip-ink: none;
}

.contacts-link:active {
color: #8668c7;
}
.contacts-form {
   display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts-form-label {
   display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}
.contacts-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
padding-block: 8px;
padding-inline: 12px;
width: 100%;
height: 40px;
outline: none;

}

.contacts-input:focus {
 border-color: #ccc16e;
 outline: none;
}

.contacts-input:user-invalid {
  border-color: #8c0000;
}

.contacts-input:user-invalid::placeholder {
  color: #8c0000;
}
.contacts-textarea {  
  border: 1px solid rgba(0, 0, 0, 0.15);
padding: 12px;
width: 100%;
height: 180px;
resize: none;
margin-bottom: 24px;

}

.contacts-textarea:focus {
   border-color: #ccc16e;
   outline: none;
}

.contacts-btn {
  display: flex;
justify-content: center;
align-items: center;
border: 1px solid #ccc16e;
padding-block: 6px;
padding-inline: 12px;
width: 335px;
height: 36px;
   width: 100%;
   border: none;
  cursor: pointer;
  background: #ccc16e;

  font-family: "Mulish", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #000;

}

.contacts-btn:hover,
.contacts-btn:focus {
  background-color: transparent;
  border-color:  #ccc16e;
}


@media only screen and (min-width: 768px) {
  .contacts {
    padding-block: 64px;
padding-inline: 32px;

  }

.container {
max-width: 704px;

} 

.contacts-header {
  max-width: 704px;
  margin: 0 auto 48px;
   
}
.contacts-label {
  margin-bottom: 16px;
}
.contacts-label-wrapper {
  margin: 0;
  
}

.contacts-title-wrapper {
  margin: 0;
max-width: 704px;
}

.contacts-title {
  max-width: none;
  width: auto;
}
  
.contacts-list {
   
  flex-direction: row;   
  gap: 25px
}

.contacts-item {

width: 218px;
}
.contacts-item-content {

}

.contacts-btn {
  width: 249px;
height: 36px;
}

}

@media only screen and (min-width: 1440px) {
   .contacts {
    padding: 64px;
  }
  .container {
  max-width: 1312px;
  
  } 

  .contacts-header {
    max-width: 1312px;
      margin: 0;
      margin: 0 auto 48px;
      
  
  }

  .contacts-title-wrapper {
    margin: 0;
  max-width: 1312px;
  }
  
  .contacts-list {
     display: flex;
     flex-direction: column;
    flex-wrap: wrap;  
    row-gap: 32px;
    column-gap: 32px;
    width: 640px;
    height: 248px;
  }

  .contacts-form {
    width: 640px;
    order: 1;
  }
  .contacts-info {
    width: 640px;
    margin-bottom: 0;
    order: 2;
  }

  .contacts-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;

  }
 
}

/*

:root {
  --font-main: 'Mulish', sans-serif;
  --font-accent: 'Sora', sans-serif;

  --color-white: #FFFFFF;
  --color-light-gray: #F2F2F2;
  --color-dark: #000000;
  --color-accent: #CCC16E;
  --color-link-active: #8668c7;

  --transition-default: 300ms cubic-bezier(0.4, 0, 0.2, 1); /

  font-family: var(--font-main);
  color: var(--color-dark);
  background-color: var(--color-white);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

h1, h2, h3 {
  font-family: var(--font-accent);
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.01em;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 36px;
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 48px;
  }
}

.custom-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  height: 36px;
  width: 100%;
  min-width: 119px;
  font-weight: 500;
  font-size: 16px;
  background-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  transition: background-color var(--transition-default), box-shadow var(--transition-default), opacity var(--transition-default);
}

.custom-btn:hover, .custom-btn:focus-visible {
  background-color: transparent;
}

.custom-btn:active {
  box-shadow: inset 0 0 8px 0 rgba(0, 0, 0, 0.32);
  background-color: var(--color-accent);
}

.custom-btn:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media only screen and (min-width: 768px) {
  .custom-btn {
    max-width: 249px;
  }
}

@media only screen and (min-width: 1440px) {
  .custom-btn {
    width: 192px;
  }
}

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 32px 16px;
}

.nav-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: color var(--transition-default);
}

.nav-link::after, .custom-link::after {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 0;
  width: 100%;
  background-color: var(--color-dark);
  height: 1px;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform var(--transition-default), opacity var(--transition-default);
}

.nav-link:hover::after,
.nav-link:focus::after {
  transform: scaleX(1);
  transform-origin: left;
}

.nav-link:active {
  color: var(--color-link-active);
}

.nav-link[aria-disabled="true"] {
  opacity: 0.3;
  pointer-events: none;
}

@media only screen and (min-width: 1440px) {
  .nav-list {
    gap: 32px;
  }
}

.custom-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  transition: color var(--transition-default);
}

.custom-link::after {
  transform: scaleX(1);
}

.custom-link:hover::after,
.custom-link:focus::after {
  animation: underline-rollback 0.4s ease forwards;
}

@keyframes underline-rollback {
  0% {
    transform: scaleX(1);
    transform-origin: right;
  }
  50% {
    transform: scaleX(0);
    transform-origin: right;
  }
  51% {
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}
*/































