.contacts {

}




.contact {
  padding-block: 64px;
  padding-inline: 20px;
  background: #fff;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
  outline: 2px solid red;
}

.contact-header {
   width: 100%;
    margin: 0 auto;
  margin-bottom: 48px;
}
.contact-label-wrapper {
     max-width: 335px;
  margin: 0 auto;
   margin-bottom: 16px;
}
.contact-label {
 width: 62px;
 font-family: "Mulish", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #000;
margin-bottom: 16px;
}
.contact-title-wrapper {
    max-width: 335px;
  margin: 0 auto;
}
.contact-title {
  font-family: "Sora", sans-serif;
font-weight: 400;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
color: #000;
/*width: 335px;*/
margin-bottom: 24px;
}
.contact-text {
  font-family: "Mulish", sans-serif;
font-weight: 400;
font-size: 18px;
line-height: 1.5;
color: #000;
}
.contact-content {
  /* display: flex;
  flex-direction: column;*/
}
.contact-info {
   margin-bottom: 32px;
   
}
.contact-list {
   display: flex;
  flex-direction: column; 
   
  gap: 24px;

  list-style: none;
  margin: 0;
  padding: 0;
   
}
.contact-item {
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 gap: 16px;
  
}
.contact-icon {
   flex-shrink: 0;
   
}

.contact-item-content {
  display: flex;
  flex-direction: column;  
  gap: 8px;  
}
.contact-subtitle { 
 font-family: "Sora", sans-serif;
font-weight: 400;
font-size: 20px;
text-align: left;

line-height: 1.4;
letter-spacing: -0.01em;
color: #000;
margin: 0;
}
.contact-link {
  font-family: "Mulish", sans-serif;
font-weight: 400;
font-size: 16px;

line-height: 1.5;
color: #000;
margin: 0;

}

.contact-link:hover,
.contact-link:focus {

text-decoration: underline;
text-decoration-skip-ink: none;
}

.contact-link:active {
color: #8668c7;
}
.contact-form {
   display: flex;
  flex-direction: column;
  gap: 24px;
}
.contact-form-label {
   display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 16px;
}
.contact-input {
  border: 1px solid rgba(0, 0, 0, 0.15);
padding-block: 8px;
padding-inline: 12px;
width: 100%;
height: 40px;
outline: none;

}

.contact-input:focus {
 border-color: #ccc16e;
 outline: none;
}

.contact-input:user-invalid {
  border-color: #8c0000;
}

.contact-input:user-invalid::placeholder {
  color: #8c0000;
}
.contact-textarea {  
  border: 1px solid rgba(0, 0, 0, 0.15);
padding: 12px;
width: 100%;
height: 180px;
resize: none;
margin-bottom: 24px;

}

.contact-textarea:focus {
   border-color: #ccc16e;
   outline: none;
}

.contact-btn {
  display: flex;
justify-content: center;
align-items: center;
border: 1px solid #ccc16e;
padding-block: 6px;
padding-inline: 12px;
width: 335px;
height: 36px;
   width: 100%;
   border: none;
  cursor: pointer;
  background: #ccc16e;

  font-family: "Mulish", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #000;

}

.contact-btn:hover,
.contact-btn:focus {
  background-color: transparent;
  border-color:  #ccc16e;
}


@media only screen and (min-width: 768px) {
  .contact {
    padding-block: 64px;
padding-inline: 32px;

  }

.container {
max-width: 704px;

} 

.contact-header {
  max-width: 704px;
    margin: 0;
    margin: 0 auto 48px;
    

}
.contact-label {
  margin-bottom: 16px;
}
.contact-label-wrapper {
  margin: 0;
  
}

.contact-title-wrapper {
  margin: 0;
max-width: 704px;
}

.contact-title {
  max-width: none;
  width: auto;
}
  
.contact-list {
   
  flex-direction: row;   
  gap: 25px
}

.contact-item {

width: 218px;
}
.contact-item-content {

}

}
/*background: none; border: none; padding: 0; font: inherit; color: inherit; cursor: pointer; text-align: inherit*/


































